@media(min-width: 1200px){
    .container{
        max-width: 1300px;
    }
}

@media(min-width: 1023px){
    .top-nav__menu li:hover {
        opacity: 0.8;
    }
    .button-banner a:hover {
        opacity: 0.9;
        background-color: #deb37e;
    }
    .show-content__item:hover {
        box-shadow: 0px 0px 30px #cc9966;
    }
    .show-button a:hover {
        opacity: 0.9;
        background-color: #deb37e;
    }
    .promotion-button a:hover {
        opacity: 0.9;
        background: #54524f;
    }
    .footer-full__box--title2 li a:hover {
        opacity: 0.6;
    }
    .footer-full__box--img img:hover {
        opacity: 0.6;
        cursor: pointer;
    }
}

@media (min-width: 1200px) and (max-width: 1399px) {
    .container{
        padding: 0 50px;
    }
    .promotion-content__list--box {
        padding: 70px 50px 50px 90px;
    }
    .promotion-content__item--title {
        font-size: 4vw;
    }
    .promotion-content__item--desc {
        font-size: 2.5vw;
        line-height: 1.2;
        padding-bottom: 120px;
    }
    .place-full::after {
        bottom: -1px;
    }
}

@media (max-width:1199px){
    .place-content {
        text-align: center;
        padding-top: 270px;
    }
    
}

@media (min-width: 992px) and (max-width: 1199px) {
    .container{
        padding: 0 50px;
    }
    .promotion-content__list--box {
        padding: 50px 50px 50px 60px;
    }
    .promotion-content__item--title {
        font-size: 4vw;
    }
    .promotion-content__item--desc {
        font-size: 2.2vw;
        line-height: 1.2;
        padding-bottom: 60px;
    }
    .promotion-button a {
        padding: 20px 50px;
    }
    .footer-full__box--title2 li {
        font-size: 20.7px;
    }
    .show-content__item--box {
        padding: 20px 25px 40px 15px;
    }
    .show-content__item img:nth-last-child(n) {
        height: 290px;
    }
    .show-content__item--title {
        padding-bottom: 10px;
    }
}

@media (max-width: 991px){
    .btn-bar{
        display: block;
    }
    .menu {
        display: none;
    }
    .search {
        display: none;
    }
    .logo {
        display: contents;
    }
    .top-nav__header {
        justify-content: center;
    }
    .top-nav .container {
        display: block;
        text-align: center;
    }
    .top-nav__menu {
        display: block;
        padding: 0 0 15px;
    }
    .menu ul li:not(:first-child){
        margin-left: unset;
    }
    .menu ul li {
        margin-top: 25px;
    }
}